//==============================================================================================
// File Name: _buttons.scss
//----------------------------------------------------------------------------------------------
// This file contains all styles related to the button component.
//----------------------------------------------------------------------------------------------
// Used by: main.scss
//==============================================================================================

//----------------------------------------------------------------------------------------------
// IMPORTS
//----------------------------------------------------------------------------------------------
@import "./../utils/functions.scss";
@import "./../utils/mixins.scss";
@import "./../utils/variables.scss";

//----------------------------------------------------------------------------------------------
// VARIABLES
//----------------------------------------------------------------------------------------------

//----------------------------------------------------------------------------------------------
// CORE
//----------------------------------------------------------------------------------------------

.button {
  // Rules affecting all buttons
  display: flex;
  align-items: center;
  border-radius: rem(10);
  cursor: pointer;
  padding: rem(20) rem(45);

  &.button--primary {
    // Rules specific to button primary
    border: rem(2) solid $secondary;
    background-color: $secondary;
    color: $lightest;

    &:hover {
      background-color: $lightest;
      color: $secondary;
    }
    // Primary Disabled Rules
    &.button--disabled {
      background-color: $primary;
      border-color: $primary;
      cursor: not-allowed;

      &:hover {
        color: $lightest;
      }
    }
    // Primary Loading Rules
    &.button--loading {
      &:hover {
        background-color: $secondary;
        color: $lightest;
      }

      &::after {
        content: "";
        width: rem(20);
        height: rem(20);
        border: rem(4) solid transparent;
        border-top-color: $lightest;
        border-radius: 50%;
        animation: button-loading-spinner 1s ease infinite;
        margin-left: rem(10);
      }
    }
    // Primary Disabled and Loading Rules
    &.button--loading.button--disabled {
      &:hover {
        border-color: $primary;
        background-color: $primary;
      }
    }
  }
}
