//==============================================================================================
// File Name: _buttons.scss
//----------------------------------------------------------------------------------------------
// This file contains all styles related to the button component.
//----------------------------------------------------------------------------------------------
// Used by: main.scss
//==============================================================================================

//----------------------------------------------------------------------------------------------
// IMPORTS
//----------------------------------------------------------------------------------------------
@import "./../utils/colors.scss";
@import "./../utils/functions.scss";
@import "./../utils/mixins.scss";
@import "./../utils/variables.scss";

//----------------------------------------------------------------------------------------------
// VARIABLES
//----------------------------------------------------------------------------------------------
$green: #2ecc71;
$red: #e74c3c;
$blue: #3498db;
$yellow: #f1c40f;
$purple: #8e44ad;
$turquoise: #1abc9c;

//----------------------------------------------------------------------------------------------
// CORE
//----------------------------------------------------------------------------------------------

.button {
  // Rules affecting all buttons
  display: flex;
  align-items: center;
  border-radius: 0.6em;
  cursor: pointer;
  padding: 1.2em 2.8em;

  &.button--primary {
    // Rules specific to button primary
    border: 2px solid $turquoise;
    background-color: $turquoise;
    color: #fff;

    &:hover {
      background-color: white;
      color: $turquoise;
    }
  // Disabled Rules
    &.button--disabled {
      background-color: #cdd5e0;
      border-color: #cdd5e0;
      cursor: not-allowed;

      &:hover {
        color: $lightest;
      }
    }
  // Loading Rules
    &.button--loading {
      &:hover {
        background-color: $turquoise;
        color: white;
      }

      &::after {
        content: "";
        width: 20px;
        height: 20px;
        border: 4px solid transparent;
        border-top-color: #ffffff;
        border-radius: 50%;
        animation: button-loading-spinner 1s ease infinite;
        margin-left: 10px;
      }
    }
  // Disabled and Loading Rules
    &.button--loading.button--disabled {
      &:hover {
        border-color: #cdd5e0;
        background-color: #cdd5e0;
      }
    }
  }
}
