//==============================================================================================
// File Name: _buttons.scss
//----------------------------------------------------------------------------------------------
// This file contains all styles related to the button component.
//----------------------------------------------------------------------------------------------
// Used by: main.scss
//==============================================================================================

//----------------------------------------------------------------------------------------------
// IMPORTS
//----------------------------------------------------------------------------------------------
@import "./../utils/colors.scss";
@import "./../utils/functions.scss";
@import "./../utils/mixins.scss";
@import "./../utils/variables.scss";

//----------------------------------------------------------------------------------------------
// VARIABLES
//----------------------------------------------------------------------------------------------
$green: #2ecc71;
$red: #e74c3c;
$blue: #3498db;
$yellow: #f1c40f;
$purple: #8e44ad;
$turquoise: #1abc9c;

//----------------------------------------------------------------------------------------------
// CORE
//----------------------------------------------------------------------------------------------

.button {
  box-sizing: border-box;
  appearance: none;
  border: 2px solid $red;
  border-radius: 0.6em;
  color: $red;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;

  &:hover,
  &:focus {
    color: #fff;
    outline: 0;
  }

  &.button--primary {
    background-color: $turquoise;
    border-color: $turquoise;
    color: #fff;
    transition: all 150ms ease-in-out;

    &:hover {
      background-color: white;
      color: $turquoise;
    }

    &.is-disabled {
        background-color: #cdd5e0;
        border-color: #cdd5e0;
        color: $lightest;
        cursor: not-allowed;

        &:hover {
            box-shadow: unset;
            border-color: #cdd5e0;
          }
      }
  }
}


.is-loading::after {
  content: "";
  width: 20px;
  height: 20px;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
      transform: rotate(0turn);
  }

  to {
      transform: rotate(1turn);
  }
}