//==============================================================================================
// Colors
//----------------------------------------------------------------------------------------------
// Defines colors used on the website
//----------------------------------------------------------------------------------------------
// Used by: main.scss
//==============================================================================================

//Colors
$lightest: #ffffff;
$primary: #cdd5e0;
$secondary: #1abc9c;
