//==============================================================================================
// VARIABLES
//----------------------------------------------------------------------------------------------
// Provides variables.
//----------------------------------------------------------------------------------------------
// Used by: main.scss
//==============================================================================================

//----------------------------------------------------------------------------------------------
// IMPORTS
//----------------------------------------------------------------------------------------------
@import '../utils/functions.scss';

//----------------------------------------------------------------------------------------------
// VARIABLES
//----------------------------------------------------------------------------------------------
//Breakpoints
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
