//==============================================================================================
// VARIABLES
//----------------------------------------------------------------------------------------------
// Provides variables.
//----------------------------------------------------------------------------------------------
// Used by: main.scss
//==============================================================================================

//----------------------------------------------------------------------------------------------
// IMPORTS
//----------------------------------------------------------------------------------------------

//----------------------------------------------------------------------------------------------
// VARIABLES
//----------------------------------------------------------------------------------------------
//Breakpoints
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

//Colors
$lightest: #ffffff;
$primary: #cdd5e0;
$secondary: #1abc9c;

