//==============================================================================================
// Helpers
//----------------------------------------------------------------------------------------------
// Provides centralized, reusable selectors and corresponding treatments for commonly-needed
// style applications.
//----------------------------------------------------------------------------------------------
// NOTE: These selectors may be used within the site's HTML or in the Sass by invoking them
// via the @extend [.selector] directive.
//----------------------------------------------------------------------------------------------
// Used by: main.scss
//==============================================================================================

//----------------------------------------------------------------------------------------------
// IMPORTS
//----------------------------------------------------------------------------------------------

//----------------------------------------------------------------------------------------------
// POSITIONING
//----------------------------------------------------------------------------------------------
.clearfix {
  clear: both;
}

.centered {
  text-align: center;
}

//----------------------------------------------------------------------------------------------
// Margins
//----------------------------------------------------------------------------------------------
//Margin-right

.mr-22 {
  margin-right: rem(22);
}

//Margin-bottom
.mb-6 {
  margin-bottom: rem(6);
}

.mb-9 {
  margin-bottom: rem(9);
}

.mb-10 {
  margin-bottom: rem(10);
}

.mb-14 {
  margin-bottom: rem(14);
}

.mb-15 {
  margin-bottom: rem(15);
}

.mb-17 {
  margin-bottom: rem(17);
}

.mb-21 {
  margin-bottom: rem(21);
}

.mb-24 {
    margin-bottom: rem(24);
}

.mb-40 {
    margin-bottom: rem(40);
}

.mb-60 {
  margin-bottom: rem(60);
}

//Margin-left

.ml-15 {
  margin-left: rem(15);
}

.ml-25 {
  margin-left: rem(25);
}

//Margin-top

.mt-auto{
  margin-top: auto;
}

.mt-10 {
  margin-top: rem(10);
}

.mt-15 {
  margin-top: rem(15);
}

.mt-18 {
  margin-top: rem(15);
}

.mt-22 {
  margin-top: rem(22);
}

.mt-24 {
  margin-top: rem(24);
}

.mt-27 {
  margin-top: rem(27);
}

.mt-40 {
    margin-top: rem(40);
}

//----------------------------------------------------------------------------------------------
// Padding
//----------------------------------------------------------------------------------------------

.pt-12 {
  padding-top: rem(12);
}

//----------------------------------------------------------------------------------------------
// SHADOWING
//----------------------------------------------------------------------------------------------
.shadow-left {
  box-shadow: 0 rem(1) rem(2) #3e3e3e26;
}

//----------------------------------------------------------------------------------------------
// Animation
//----------------------------------------------------------------------------------------------
@keyframes button-loading-spinner {
  from {
      transform: rotate(0turn);
  }

  to {
      transform: rotate(1turn);
  }
}

//----------------------------------------------------------------------------------------------
// FlEXBOX HELPER CLASSESS
//----------------------------------------------------------------------------------------------
.align-items-center {
  align-items: center;
}
